#header{
    height: 100px;
    width: 100%;
    background: chartreuse;
    position: fixed;
    top: 0;
}
#left{
    height: 500px;
    width: 20%;
    background: darkred;
    float: left;
}
#content{
    height: 500px;
    width: 80%;
    float: right;
    background: aqua;
}
#logo{
    height: 20px;
    width: 40%;
}